.ajo-payment-table-container {
  width: 100%;
  overflow-x: auto;
  background-color: #f2f2f2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 40px 46px;
  max-width: 100%;
}

.ajo-payment-table-wrapper {
  position: relative;
}

.ajo-payment-table {
  width: 100%;
  border-collapse: collapse;
}

.ajo-payment-table th,
.ajo-payment-table td {
  padding: 12px;
  text-align: left;
}

.ajo-payment-table th {
  background-color: #f2f2f2;
  font-weight: 500;
  font-size: 24px;
  border-bottom: 2px solid #e7dfee;
  padding-bottom: 16px;
  margin-bottom: 56px;
}

.ajo-payment-table th:not(:first-child) {
  text-align: center;
}

.ajo-payment-table td:not(:first-child) {
  text-align: center;
}

/*
.ajo-payment-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
*/

.ajo-payment-table tr.selected {
  background-color: #ffd700;
}

/* Sticky header for the "Name" column */
.ajo-payment-table th:first-child {
  /* position: sticky; */
  left: 0;
  /* z-index: 2;  */
}

/* Sticky first column */
.ajo-payment-table tr td:first-child {
  /* position: sticky; */
  left: 0;
  /* z-index: 1;  */
}

.ajo-payment-table td {
  white-space: nowrap !important;
}
